.main-container {
  background-size: cover;
}

.image-align {
  height: 100px;
  margin-left: 30px;
}

.heading {
  font-weight: bolder;
  margin-left: 28%;
  font-size: 30px;
  font-family: monospace;
}

.navbar {
  padding: 0 !important;
}

.form-control {
  width: 300px;
}

.export {
  margin-left: 20px;
  margin-bottom: 20px;
}
.esport {
  margin-right: 30px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
}
.container-fluid {
  border: 10px;
}
.page {
  margin-left: 75%;
}
.search {
  margin-left: 60%;
  margin-top: 1%;
}
.filteXr {
  margin-right: 100%;
}

input[type="date"] {
  width: 25px;
  margin-left: 20px;
  height: 35px;
}
.pagenation {
  margin-right: 2%;
  text-align: end;
  margin-top: 2%;
}
.table1 {
  border-color: grey;
  border-style: solid;
  border-width: 2px;
  /* max-width: 1000px; */
  /* border: 2px solid red; */
  min-height: 500px;
}
.calender {
  margin-left: 14px;
}
